@import url('https://fonts.googleapis.com/css?family=Inconsolata');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

.body-container {
  font-family: 'Helvetica Neue', Verdana, Helvetica, Arial, monospace;
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.scoreboard {
  font-family: 'DSEG7-Modern', monospace;
  padding: 0;
  margin-top: 20px;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row;
  flex-flow: row;
  justify-content: center;
}

.game-modes {
  font-family: monospace;
  background: #999999;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 5px;
  font-size: 1.5em;
  color: #ffffff;
  display: flex;
  -webkit-flex-flow: row;
  flex-flow: row;
  justify-content: space-around;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

.scorecard {
  margin-left: 20px;
  margin-right: 20px;
  font-weight: bold;
  font-size: 5em;
  height: 2.1em;
  width: 4em;
  margin-bottom: 100px;
}

@media (max-width: 800px) {
  .scorecard {
    font-size: 3.2em;
    height: 1em;
    width: 2em;
  }
}

.scorelist {
  width: 200px;
  height: 150px;
  font-weight: bold;
  font-size: 1.5em;
  line-height: 1.4em;
  text-align: center;
}

@media (max-width: 800px) {
  .scorelist {
    font-size: 1em;
    line-height: 1.3em;
  }
}

.gameclock {
  font-family: 'DSEG7-Modern', monospace;
  color: #777;
  font-size: 4em;
  margin-bottom: 50px;
}

@media (max-width: 800px) {
  .gameclock {
    font-size: 2em;
    margin-bottom: 30px;
  }
}

.status {
  font-family: 'Inconsolata', monospace;
  color: #777;
  font-size: 1.5em;
  margin-top: 40px;
}

@media (max-width: 800px) {
  .status {
    font-size: 0.8em;
  }
}

.button {
  font-family: 'Inconsolata', monospace;
  background-color: #777;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.playerlist {
  display: flex;
  justify-content: space-around;
  font-size: 2em;
  margin-top: 50px;
}

@media (max-width: 800px) {
  .playerlist {
    font-size: 1em;
    margin-top: 25px;
  }
}

.player {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

.avatar {
  max-width: 100px;
}

.button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.blink {
  animation: blink-animation 1s steps(5, start) infinite;
  -webkit-animation: blink-animation 1s steps(5, start) infinite;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}